@model List<NewsPaper.Models.News>
@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="post">
        @item.datehire
        @Html.ActionLink("Edit", "edit_news", "News", new { id = item.newsID }, new { @class = "btn btn-primary" })
        <h4>@item.title,</h4><h6>@item._ref</h6><br />  <br />
        <h6>@item.description</h6> <br />
        <img src="~/attach/@item.photo" width="100%" />
    </div>
}


