@model NewsPaper.Models.News
@{
    ViewBag.Title = "edit_news";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="edit_news" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>@Html.LabelFor(n => n.newsID)</td>
            <td>@Html.TextBoxFor(n => n.newsID)</td>
            <td>@Html.ValidationMessageFor(n => n.newsID)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.title)</td>
            <td>@Html.TextBoxFor(n => n.title)</td>
            <td>@Html.ValidationMessageFor(n => n.title)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.description)</td>
            <td>@Html.TextBoxFor(n => n.description)</td>
            <td>@Html.ValidationMessageFor(n => n.description)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n._ref)</td>
            <td>@Html.TextBoxFor(n => n._ref)</td>
            <td>@Html.ValidationMessageFor(n => n._ref)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.datehire)</td>
            <td>@Html.EditorFor(n => n.datehire)</td>
            <td>@Html.ValidationMessageFor(n => n.datehire)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.photo)</td>
            <td><input type="file" name="photo" value="@Model.photo" /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.userID)</td>
            <td>@Html.TextBoxFor(n => n.userID)</td>
            <td>@Html.ValidationMessageFor(n => n.userID)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.catID)</td>
            <td>@Html.DropDownListFor(n => n.catID, (SelectList)ViewBag.st)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Update" /></td>
        </tr>
    </table>
</form>

